
.icon-explore-meeting:before { content: '\e800'; } /* '' */
.icon-find-jobs:before { content: '\e801'; } /* '' */
.icon-finished-successfull-projects:before { content: '\e802'; } /* '' */
.icon-marketing:before { content: '\e803'; } /* '' */
.icon-media:before { content: '\e804'; } /* '' */
.icon-music-producer:before { content: '\e805'; } /* '' */
.icon-my-jobs:before { content: '\e806'; } /* '' */
.icon-payment-method:before { content: '\e807'; } /* '' */
.icon-pj:before { content: '\e808'; } /* '' */
.icon-profile:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-user-edit:before { content: '\e80b'; } /* '' */
.icon-account:before { content: '\e80c'; } /* '' */
.icon-bj:before { content: '\e80d'; } /* '' */
.icon-brief:before { content: '\e80e'; } /* '' */
.icon-civil:before { content: '\e80f'; } /* '' */
.icon-community-management:before { content: '\e810'; } /* '' */
.icon-content-creator:before { content: '\e811'; } /* '' */
.icon-design:before { content: '\e812'; } /* '' */
.icon-digital-planner:before { content: '\e813'; } /* '' */
.icon-programming:before { content: '\e814'; } /* '' */